* {
  margin: 0;
  padding: 0;
}

body {
  font: 400 16px/1.62 Georgia, "Xin Gothic", "Hiragino Sans GB", "Droid Sans Fallback", "Microsoft YaHei", sans-serif;
  color: #535353;
  background: #fff;
  overflow: hidden;
}

.main {
  text-align: center;
  margin: 120px auto auto auto;
  max-width: 500px;
  padding: 0 20px;
}

.main a {
  color: #535353;
  text-decoration: underline;
}

.main a:link,
.main a:visited {
  color: #535353;
}

.main a:hover {
  color: #00FF00;
  text-decoration: none;
}

h1 {
  font-size: 26px;
  color: #424242;
  margin-bottom: 20px;
}

h2 {
  font-size: 20px;
  color: #424242;
  margin-bottom: 20px;
}

.avatar {
  margin-bottom: 35px;
  border-radius: 64px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

.local {
  height: 24px;
  line-height: 24px;
  margin: 15px 0;
}
